img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

body {
    background-image: url("assets/space.jpg");
    overflow: hidden
}

span {
    color: white;
}